<!--The content below is only a placeholder and can be replaced.-->
<div class="container mt-4">
    <h1>
        Welcome to {{ title }}!
    </h1>
    <h3>
        1 ) Make this form responsive By bootstrap5 (large disply To small display)
    </h3>
    <h3>
        2 ) Add primeng to project and change theme to vela-orang
    </h3>
    <h3>
        3) Use "DataViewModule" of primeng and demonstrate your knowledge about Angular and front-end by adding fake JSON Array of data
    </h3>

    <div class="container h-100">
        <div class="row">
            <p-dataView [value]="datas" [paginator]="true" [rows]="9" filterBy="name" layout="grid">
                <ng-template let-data pTemplate="gridItem">


                    <div class="col-12 col-lg-4">
                        <div class="product-grid-item card">
                            <div class="product-grid-item-content">
                                <h5 class="">{{data.date}}</h5>
                                <h5 class="">{{data.name}}</h5>
                                <h5 class="">
                                    <span *ngIf="data.name === 'name1' || data.name === 'name3'" class="text-info">{{data.hours}}</span>
                                    <span *ngIf="data.name === 'name2'" class="text-warning">Save your Score</span>
                                </h5>
                            </div>
                            <div class="product-grid-item-bottom">
                                <i *ngIf="data.name === 'name1'" class="fa fa-check fa-2x text-info float-md-end"></i>
                                <button *ngIf="data.name === 'name2'" class="float-md-end" pButton type="button" label="+"></button>
                                <i *ngIf="data.name === 'name3'" class="fa fa-star fa-2x float-md-end"></i>
                            </div>
                        </div>
                    </div>




                    <!-- <div class="col-12 col-lg-4">
                        <div class="card shadow">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col-6">
                                        <div class="row">
                                            <h5 class="card-title">{{data.date}}</h5>
                                            <h5 class="card-title">{{data.name}}</h5>
                                            <h5 class="">
                                                <span *ngIf="data.name === 'name1' || data.name === 'name3'" class="text-info">{{data.hours}}</span>
                                                <span *ngIf="data.name === 'name2'" class="text-warning">Save your Score</span>
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <h5 class="text-center">
                                            <i *ngIf="data.name === 'name1'" class="fa fa-check fa-2x text-info float-md-end"></i>
                                            <button *ngIf="data.name === 'name2'" class="float-md-end" pButton type="button" label="+"></button>
                                            <i *ngIf="data.name === 'name3'" class="fa fa-star fa-2x float-md-end"></i>
                                        </h5>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div> -->
                </ng-template>
            </p-dataView>
            <!-- First Card -->
            <!-- <div class="col-12 col-lg-4 my-2" *ngFor="let data of datas">
                <div class="card shadow">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-6">
                                <div class="row">
                                    <h5 class="card-title">{{data.date}}</h5>
                                    <h5 class="card-title">{{data.name}}</h5>
                                    <h5 class="">
                                        <span *ngIf="data.name === 'name1' || data.name === 'name3'" class="text-info">{{data.hours}}</span>
                                        <span *ngIf="data.name === 'name2'" class="text-warning">Save your Score</span>
                                    </h5>
                                </div>
                            </div>
                            <div class="col-6">
                                <h5 class="text-center">
                                    <i *ngIf="data.name === 'name1'" class="fa fa-check fa-2x text-info float-md-end"></i>
                                    <button *ngIf="data.name === 'name2'" class="float-md-end" pButton type="button" label="+"></button>
                                    <i *ngIf="data.name === 'name3'" class="fa fa-star fa-2x float-md-end"></i>
                                </h5>
                            </div>

                        </div>
                    </div>
                </div>
            </div> -->
            <!-- Second Card -->
            <!-- <div class="col-12 col-lg-4 my-2">
                <div class="card shadow">
                    <div class="card-body">
                        <div class="row left-items">
                            <div class="col-6">
                                <div class="row">
                                    <h5 class="card-title text-muted">13/06/2018</h5>
                                    <h5 class="card-title">NAME</h5>
                                    <h5 class="">
                                        <span class="text-warning">Save your Score</span>
                                    </h5>
                                </div>
                            </div>
                            <div class="col-6">
                                <h5 class="text-center float-md-end">
                                    <button pButton type="button" label="+"></button>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- Third Card -->
            <!-- <div class="col-12 col-lg-4 my-2">
                <div class="card bg-info shadow">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-6">
                                <div class="row">
                                    <h5 class="card-title">05/05/2018</h5>
                                    <h5 class="card-title text-white">NAME</h5>
                                    <h5 class=""><span class="text-white">12:53</span></h5>
                                </div>
                            </div>
                            <div class="col-6">
                                <h5 class="text-center">
                                    <i class="fa fa-star fa-2x text-white"></i>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
        <div></div>
    </div>
</div>